body{margin:0;}
.banner{
    width :100vw;
    height :100vh;
    max-width: 100%;
    box-sizing: border-box;
    background-image: url("img/banner.jpg");
    overflow: hidden;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    

}
.bannerfilter{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color:#F2EFEA;
    opacity: 0.4;
    z-index: 100;

}
.typeflex-column{
    z-index: 900;
}

.navbar{
    background-color:#584544;
    height:0vh;
    width:100vw;
    max-width: 100%;
    position:sticky;
    top:0px;
    z-index: 99;
    font-size: 15pt;
    transition: 1000ms ease;
}
.navbar-nav {
    background-color:transparent;
}
.nav-link {
    color: #F2EFEA !important;
    }
    .navbar-light .navbar-brand {
        color: #F2EFEA !important;
    }
h3{
color:#EC6A60;
font-weight: bolder;
}
h4{
    color:#EC6A60;
    font-weight: bolder;  
    text-align: center;
}
.ibg{
    background-color:#EC6A60;
    height:80px;
    width: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}
.skill i{
    
    color:#F2EFEA;
font-size: 40px;
    margin:auto ;
}
.navbar-toggler{
    background-color:#F2EFEA;

}
.nav-link{
    color:#F2EFEA!important; 
    
}

.aboutMe span{
    color:#282945;

}
.AMtxt{
    color:#282945;
    padding-bottom: 50px;
    border-bottom: dotted #584544 4px;
    font-weight: 500;
    
}
.aboutMe{
    background:#F2EFEA;
    
}
.skill{
    background-color:#Dcd7c9;
}

.skill .card-body{
    padding:0;
}
.skill .card{
    height:20rem;
}
.card{
    background:#F2EFEA;

}
.portfolio{
    background:#F2EFEA;
    
}
.choose{
    background-color:#EC6A60;
    color:#F2EFEA;
    height: 30px;
    width: 300px;
}
.btnchoose {
    cursor: pointer;
}
.footer{
    background-color:#584544;
    height:250px;
}

.cimg{
    flex-shrink: 0;
}
@keyframes caret {
    50% { border-color: transparent; }
  }
  @keyframes typing {
    from { width: 0 }
  }
  @keyframes txtsm {
    from { opacity:  0 ;
        color: transparent;}
  }


  
  .title {
    font-size: 50px;
    z-index: 9000;
    width:500px;
    border-right: .05em solid;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 6s steps(18),
      caret 1s steps(1) infinite;
      text-shadow: 7px 2px 5px #e0c2c2;
  }
  .txt {
    z-index: 9000;
    font-size: 20px;
    width:594px;
    margin-left: -290px;
    color:#EC6A60;
    overflow: hidden;
    white-space: nowrap;
    
    animation: typing 12s steps(54);
    
    
  }
  .titlesm {
    font-size: 1.5rem;
    width:15rem;
    border-right: .05em solid;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 6s steps(18),
      caret 1s steps(1) infinite;
  }
.txtsm{
opacity: 1;
font-size: 14px;
color:#EC6A60;
animation: txtsm 10s ease;
}
.expedu{
    
    padding-left: 20px;
    margin-bottom: 30px;
}
.jobline{
    border-left: solid #EC6A60 2px;
    padding-left: 20px;
    margin-bottom: 30px;
}
.eduline{
    border-left: solid #EC6A60 2px;
    padding-left: 20px;
    margin-bottom: 30px;
}
.ch{
    position:absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left:0;
    background-color: #EC6A60 ;
    transition: all 0.3s;
}
.cardtxt{
    font-size: 30px;
    position: absolute;
    
    color:#282945;
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;

}

#popbg{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: black;
    z-index: 9999;
    opacity: 0.5;
}
#pop{
    font-size: 16px;
    display:none;
    /* height: 70vh;
    width: 70vw; */
    
    top:20%;
    bottom: 20%;
    left:20%; 
    right:20%;


    position: fixed;
    box-shadow: -0.5px 0.5px 4px #a9a9a9;
    border-radius: 5px;
    
    background-color:#fafafa;
    opacity: 1;
    z-index: 10000;
}
.closeicon{
    font-size:30pt;
    display: flex;
    width: 100%;
    max-height: 50px;
    padding: 5px;
    margin: 0;
    color:#EC6A60  ;
}
.fa-window-close{
    cursor: pointer;
    z-index: 1000;
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #EC6A60 ;
    position: relative;
    top: 15px;
    left: -26px;
}
h5{
    font-weight: 600;
    color: #282945;
}


.cbox{
    cursor: pointer;
    position: relative;
}
.cboxcover{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color:#Dcd7c9;
    opacity:1;
    
}
.popcontainer{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}

.card:hover .cboxcover{
    
    transition: 1s;
    transition-timing-function: ease-out;
    opacity:0.5;   
}
.navsh{
    height: 8vh;
    
}









